@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Variable CSS */
:root {
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

/* Body setting */
body {
    background-color: var(--verydarkblue);
    font-size: 15px;
    font-family: overpass, serif;
}

/* The main card */
#main-content {
    height: 430px;
    width: 430px;
    position: relative;
    margin: auto;
    transform: translateY(20%);
    border-radius: 20px;
    background-color: var(--darkblue);
}

/* SVG part */
.first-icon {
    width: 40px;
    height: 40px;
    background-color: hsl(216, 12%, 54%, 20%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 32px;
    left: 32px
}

/* Ajusting the text content */
h1:first-child {
    color: var(--white);
    position: relative;
    left: 35px;
    top: 45px;
}

p:last-child {
    color: var(--lightgrey);
    position: relative;
    left: 35px;
    top: 30px;
    line-height: 1.7;
    padding-right: 100px ;
}

.rating {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 10px;
    padding-right: 32px;
    padding-left: 17px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: hsl(216, 12%, 54%, 20%);
    color: var(--lightgrey);
    cursor: pointer;
}

.submit-part {
    position: relative;
    top: 90px;
    left: 35px;
}

.submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 50px;
    width: 370px;
    border-style: none;
    border-radius: 50px;
    background-color: var(--orange);
    color: var(--white);
}


/* CSS from Frontend Mentor */
.attribution { 
    font-size: 11px;
    text-align: center;
    position: relative;
    margin: auto;
    top: 15em;
    color: var(--white);
}

.attribution a {
    color: var(--orange);
}

.submit:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}

#selected {
    color: var(--white);
    position: relative;
    top: 35px;
    left: 40px;
    margin: auto;
    cursor: pointer;
}

.hero-image {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
}

#boxedMessage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 30px;
    border-radius: 50px;
    top: 70px;
    left: 130px;
    color: var(--orange);
    background-color: hsl(216, 12%, 54%, 20%);
 }

.second-page-h {
    position: absolute;
    top: 400px;
    text-align: center;
}

.second-page-p {
    text-align: center;
}